<?xml version="1.0"?>
<data>
	<service name="station">
		<template>bbc-news</template>
                <subcategory>world</subcategory>
                <encoding>iso-8859-1</encoding>
		<font>Droid Sans</font>
		<title_font_size>40</title_font_size>
		<summary_font_size>30</summary_font_size>
		<rows>3</rows>
		<entry_number>4</entry_number>
		<logo></logo>
	</service>
	<service name="env">
		<duration_time>15</duration_time>
                <repeat>5</repeat>
                <display_reset>False</display_reset>
	</service>
</data>
