<?xml version="1.0"?>
<data>
	<service name="station">
		<template>bbc-news</template>
                <category>world</category>
                <encoding>iso-8859-1</encoding>
		<font>Droid Sans</font>
		<italic_font>DejaVu Sans</italic_font>
		<italic>True</italic>
		<title_font_size>40</title_font_size>
		<summary_font_size>30</summary_font_size>
		<title_rows>3</title_rows>
		<summary_rows>3</summary_rows>
		<entry_number>4</entry_number>
		<logo></logo>
	</service>
	<service name="env">
		<duration_time>14</duration_time>
                <repeat>5</repeat>
                <display_reset>False</display_reset>
	</service>
</data>
